<%- include ('partials/header.ejs'); %>
<body>
    <%- include ('partials/navbar.ejs'); %>
    <div class="container">
        <h1>Blogg Node.js com Express</h1>
    </div>
    
</body>
<%- include ('partials/footer.ejs'); %>
