<%- include ('../../partials/header.ejs'); %>
<body>
    <%- include ('../../partials/navbar.ejs'); %>
   <div class="container mt-4">
    <h1>Artigos</h1>
    <hr>
    <table class="table table-bordered">
        <thead>
         <tr><th>Id</th><th>Titulo</th><th>Slug</th><th>Categoria</th><th>Ações</th></tr>
        </thead>
        <tbody>
         <tr>
             <td>id</td>
             <td>titulo</td>
             <td>slug</td>
             <td>categoria</td>
             <td></td></tr>
        </tbody>
        </table>

        <a href="/admin/artigos/new" class="btn btn-primary">Novo Artigo</a>
   
    </div>

     
  
</body>
<%- include ('../../partials/footer.ejs'); %>
